<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
           .h1{
background-color: rgb(67, 67, 228);
color: white;
margin-left: 50px;


}
.circle-question {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #e0e0e0;
  color: black;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 12px;
}
header{
    display: flex;
    flex-direction: row;
    gap: 410px;
    height: 50px;
}
.div1{
    display: flex;
    flex-direction: row;
}
input{
    background-color: rgb(125, 125, 246);
    padding-bottom: 7px;
    padding-top: 7px;
    width: 185px;
    padding-left: 80px;
    padding-right: 80px;
    
}
.b1{
     padding-bottom: 15px;
    padding-top: 15px;
    width: 240px;
    padding-left: 20px;
    background-color: white;
}
.b2{
     padding-bottom: 15px;
    padding-top: 15px;
    width: 240px;
    padding-left: 20px;
    background-color: white;
    color: black;
}
.div2{
    width: 400px;
    height: 300px;
 padding-left: 20px;
 display: flex;
 flex-direction: column;
 padding-top: 15px;
 margin-left: 420px;
 border-radius: 10px;
border-style: inset;
 margin-top: 50px;
}
.b4{
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    color: white;
    border-radius: 30px;
    margin-left: 200px;
    margin-top: 10px;
}
    </style>
</head>
<body>
   <header>
        <div class="div1 ">
        <h3 class="h1">in</h3>
        <h3>pinpoint</h3>
        </div>
        <div class="">
            <p>why we have games</p>
        </div>
        <div class="div1">
            <span class="circle-question">?</span>
            <p>seting^</p>
        </div>
    </header>
    <div class="div2">
        <form action="" class="">
        <input type="text" name="" id="" class="in1" placeholder="guess1">
            <input type="text" name="" id="" class="in7" placeholder="pinaple">
          <input type="text" name="" id=""  class="in2" placeholder="guess2">
              <input type="text" name="" id="" class="in8" placeholder="apple">
            <input type="text" name="" id=""  class="in3" placeholder="guess3">
                <input type="text" name="" id="" class="in9" placeholder="orange">
              <input type="text" name="" id=""  class="in4" placeholder="guess4">
                  <input type="text" name="" id="" class="in10" placeholder="banana">
                <input type="text" name="" id=""  class="in15" placeholder="guess5">
                    <input type="text" name="" id="" class="in11" placeholder="mango">
                  <input type="text" name="" id=""  class="in6" placeholder="guess6">
                      <input type="text" name="" id="" class="in12" placeholder="avocado">
          <input type="text" placeholder="guess the chatagory" class="b1">
                  <input type="text" placeholder="guess the chatagory                         guess" class="b2" name="letif">
                  <button type="submit" class="b4">sumit</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/game.js"></script>
</body>
</html>