<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .h1{
background-color: rgb(67, 67, 228);
color: white;
margin-left: 50px;


}
.circle-question {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #e0e0e0;
  color: black;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 12px;
}
header{
    display: flex;
    flex-direction: row;
    gap: 410px;
    height: 50px;
}
.div1{
    display: flex;
    flex-direction: row;
}
  .image-frame {
      width: 150px;              /* Adjust width */
                /* Space inside the frame */
        /* Frame border */
      border-radius: 10px;       /* Rounded corners (optional) */
       box-shadow: 0 4px 8px rgba(0,0,0,0.2);  /* Optional shadow */
      text-align: center;
      padding-top: 50px;
    
      margin-left: 540px;
    }

    .image-frame img {
      width: 100%;               /* Fit the image inside the box */
      height: ;
      display: ;
      border-radius: 5px;        /* Rounded image corners (optional) */
    }
    .d1{
       background-color: rgb(87, 87, 239); 
       height:490px;
    }
    .div2{
         text-align: center;
    }
    .white{
        color: white;
    }
    .b1{
        width: 350px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: white;
        border-radius: 30px;
      
    }
    .div3{
  margin-top: 15px;
        margin-right: 0px;
         text-align: center;
    }
    footer{
        height: 40px;
    }
    </style>
</head>
<body>
    <header>
        <div class="div1 ">
        <h3 class="h1">in</h3>
        <h3>pinpoint</h3>
        </div>
        <div class="">
            <p>why we have games</p>
        </div>
        <div class="div1">
            <span class="circle-question">?</span>
            <p>seting^</p>
        </div>
    </header>
   <div class="d1">
    <div class="image-frame">
    <img src="https://static.licdn.com/aero-v1/sc/h/75hui8gm3kv7ics73rcgqeaef" alt="">
     </div>
   <div class="div2"> 
    <h1 class="white">pinpoint</h1>
    <h3 class="white">Guess the category.</h3>
    <h6 class="white">A game by</h6>
    <p class="white">no.426</p>
      </div>
   <div class="div3">
     <form action="/game1" method="get">
        <button class="b1">start game </button>
    </form>
   </div>
  
 
</div>
<footer>

</footer>
</body>
</html>