<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header{
            margin-top: 2px;
            display: flex;
            flex-direction: row;
            background-color: white;
     height: 60px;
     margin: 0;
        }
       .h1{
        
background-color: rgb(67, 67, 228);
color: white;
margin-left: 50px;
margin-right: 5px;
       }
       .p{
        padding-left: 5px;
        letter-spacing: 3px;
        padding-top: 5px;
       }
       .d1{
display: flex;
flex-direction: column;
margin-left: 450px;
background-color: white;
width: 410px;
height: 540px;
border-radius: 5px;
padding-left: 30px;


       }
       .in1{
        width: 350px;
        padding-top: 9px;
        margin-bottom: 9px;
       }
       .div1{
gap: 0;
       }
       .p1{
        font-size: 14px;
       }
       .pp{
        margin-left: 50px;
       }.b1{
        width: 350px;
        background-color: blue;
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 30px;
       }
       .ppp{
        margin-left: 50px;
        font-size: 14px;
       }
       body{
        background-color: rgb(61, 61, 161);
       }
       .ha{
        margin-left: 400px;
        color: white;
        margin-top: 100px;
       }
    </style>
</head>

<body>
    <header class="header">
<h2 class="h1">in</h2>
<p class="p">jops</p>
    </header>
    <div>
        <h1 class="ha">Join LinkedIn to start your job post</h1>
      </div>
    <div class="d1">
      <form action="/submit" method="post">
        <div class="div1">
<p>first name*</p>
<form action="">
    <input type="text" class="in1" name="a">
</form>
</div>
<div class="div1">
    <p>last name*</p>
    <form action="">
        <input type="text" class="in1" name="b">
    </form>
</div>
<div class="div1">
    <p>email*</p>
    <form action="">
        <input type="email" class="in1" name="c">
    </form>
</div>
<div class="div1">
    <p>password*(6 or more charachter)</p>
    <form action="">
        <input type="password" class="in1" name="d">
    </form>
    
</div>
<div>
    <p class="p1">By clicking Join now, you agree to the LinkedIn <a href="https://www.linkedin.com/legal/user-agreement?lipi=urn%3Ali%3Apage%3Ad_talent_jobPost_wowStart%3BT53UtGKqTz2S7B%2BEQJrCdg%3D%3D"> User Agreement,</a></p>
    <p class="p1 pp"> <a href="">Privacy Policy,</a> and <a href="">Cookie Policy.</a></p>
</div>
<div>
    <form action="">
        <button  class="b1">join now</button>
        <p class="ppp">Already a LinkedIn member? <a href="/sign">Sign in</a></p>
    </form>
    </form>
</div>
    </div>
</body>
</html>