<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
background-color: beige;
        }
        .h1{
background-color: rgb(67, 67, 228);
color: white;
}
.h2{
    font-size: 30px;
    font-weight: 100;
}
.div4{
    margin-top: 70px;
    margin-left: 400px;

}
.header2{
    width: 120px;margin-left: 50px;

}
.div8{
    display: flex;
    flex-direction: column;
   width:400px ;
    margin-left: 450px;
    height: 650px;
background-color: white;
border-radius: 5px;
padding-left: 55px;
}
.in3{
    width: 300px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 3px;
}
.div5{
    padding-top: 15px;
}
.p{
    font-size: px;
}
.div6{
    display: flex;
    flex-direction: row;
}
.in5{
    width: 300px;
    background-color: rgb(33, 33, 236);
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.div10{
    width: 400px;
   display: flex;
   flex-direction: column;
    
    
}
.div11{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.in6{
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    padding-left: 30px;
}
.div12{
    margin-left: 30px;
}


    </style>
</head>
<body>
    <header class="header2">
    <h1 class="h1">linkedIn</h1>
</header>
<div class="div4">
    <h1 class="h2">make the most of your profetinal life</h1>
    </div>
<div class="div8">

<div class="div5">
<form action="/submit" method="post">
    <h3>email</h3>
    <input type="email"  class="in3" name="joininput">

    <div class="div5">
        <form action=""></form>
        <h3>password</h3>
        <input type="password"  class="in3" name="joinoutput"></div>
   

</div>
<div class="div6">
<input type="checkbox">
<h4>remember me</h4>
</div>
<div class="div7">
<p class="p">By clicking Agree & Join or Continue, you agree to the LinkedIn</p>
<p class="p"><a href="">User Agreement, Privacy Policy</a> and <a href=""> Cookie Policy.</a></p>
</div>
<div class="div9">
    <form action="/continue" method="get">
    <button type="submit" class="in5">agree and join</button>
</form>
 </form>
</div>
<div class="div10">
    <hr>
    <p>or</p>
    
</div>
<div class="div11">
    <button class="in6" type="submit"> <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="Google G" width="20">Continue with google account</button>
    <button class="in6" type="submit"> <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg" alt="Microsoft Logo" width="20">Continue with microsoft
    </button>
    </div>
    <div class="div12">
        <p >already on linkdin?<a href="">sign in</a></p>
      </div>
  </div>
 

</body>
</html>