<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

 
    <style>
           .hh{

color: rgb(102, 14, 244);
margin-left: 30px;

}
.in1{
    width: 80px;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom:16px ;
      background-color: rgb(244, 248, 248);
     border-radius: px;
     border: 2px solid  rgb(244, 248, 248);
}
.in2{
    width: 300px;
    padding-left: 10px;
    padding-top:16px;
    padding-bottom:16px ;
       background-color: rgb(244, 248, 248);
     border-radius: px;
     border: 2px solid  rgb(244, 248, 248);
}
.search-input {
      background: url('https://cdn-icons-png.flaticon.com/512/54/54481.png') no-repeat center;
      background-size: 16px 16px;
      border: none;
      width: 30px;
      padding-bottom: 16px;
      padding-top: 16px;
      cursor: pointer;
          background-color: rgb(244, 248, 248);
       border-radius: px;
       border: 2px solid  rgb(244, 248, 248);
    }
    
    .form{
        display: flex;
        flex-direction: row;
        gap: 0;
       
        margin-top: 20px;
    }
    .a{
        text-decoration: none;
        color: black;
    }
    .b1{
        width: 100px;
         padding-top: 13px;
    padding-bottom:13px ;
    border: 2px solid blue;
    border-radius: 30px;
    color: blue;
    }
    header{
        display: flex;
        flex-direction: row;
        gap: 20px;
        height: 40px;
    }
    .dib1{
        text-align: center;
      
    }
    .img{
        width: 100%;
        width: 150px;
        height: 150px;
        margin-top: 150px;
        margin-left: 480px;
    }
    .h1{
        margin-left: 200px;
        margin-top: 30px;
        font-weight: 100;
    }
    .div31{
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-left: 40px;
    margin-top: 130px;
}
.div31 p{
font-size: 14px;
padding-top: 8px;
}
    


    </style>
</head>
<body>
    <header class="header">
         <h1 class="hh">linkedIn</h1>
         <form action="" method="get" class="form">
            <input type="text" placeholder="people" class="in1">
              <input type="text" placeholder="firstname" class="in2">
                <input type="text" placeholder="lastname" class="in2">
                <input type="submit" class="search-input" />
         </form>
         <a href="/join" class="a"><h3>join now</h3></a>
           <form action="/sign" method="get">
        <button class="b1"> sign in</button>
    </form>
    </header>
    <div class="div1">
<img src="https://static.licdn.com/aero-v1/sc/h/dfa1erc1uncnl1po7l2v7yawd" alt="" class="img">
    </div>
    <h2 class="h1">Try searching for your co-worker, classmate, professor, or friend.</h2>
  <footer>
<div class="div31">
    <h4>linkdeIn</h4>
    <p>2025</p>
     <p>about</p>
      <p>acceceblity</p>
       <p>user agremment</p>
        <p>privacey policey</p>
         <p>cookie policy</p>
          <p>copy right policy</p>
           <p>brand policy</p>
            <p>guess control</p>
             <p> cominity guidlines</p>
              <p>language ^</p>
</div>
  </footer>
</body>
</html>