<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>
        header{
            display: flex;
            flex-direction: row;
        }
        .h1{
background-color: rgb(67, 67, 228);
color: white;
margin-left: 30px;


}
.h4{
    margin-left: 700px;
    text-decoration: none;
    color: black;
}
.b1{
    margin-top: 8px;
    margin-left:70px;
    width: 120px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid blue;
    color: blue;
    border-radius: 30px;
  background-color: white;
}
.h{
    font-size: 40px;
    color: rgb(76, 76, 220);
}
.hh{
    font-weight: lighter;
}
.div1{
   width: 50%;
    margin-left: 40px;
    
}
.in1{
    width: 310px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
}
.d1{
    display: flex;
    flex-direction: row;
}
.div2{
    width: 50%;
}
    </style>
</head>
<body>
  <header>
    <h1 class="h1">linkedIn</h1>
    <h4 class="h4"><a href=""></a>join now</h4>
    <form action="">
        <button class="b1">sign in</button>
    </form>
  </header>
  <div class="d1">
<div class="div1">
<h1 class="h">Discover products used by a trusted network of professionals</h1>
<h1 class="hh">Choose the right tool for the job from 30,000</h1>
<h1 class="hh"> products on LinkedIn</h1>
<form action="">
    <input type="text" placeholder="ðŸ” Search products by name or catagory"  class="in1"/>
</form>
</div>
<div class="div2">
<img src="https://static.licdn.com/aero-v1/sc/h/358nrauba2s4q0j5ndju3egmp" alt="">
</div>
  </div>
</body>
</html>